<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Zoco</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto float-end">
        <a class="nav-link {% if request.path == '/' %} rounded bg-success text-light {% endif %}" href="/">Home</a>
        <a class="nav-link {% if request.path == '/add_emps/' %} rounded bg-success text-light {% endif %}" href="/add_emps">Add Employee</a>
        <a class="nav-link {% if request.path == '/rem_emps/' %} rounded bg-success text-light {% endif %}" href="/rem_emps">Delete Employee</a>
        <a class="nav-link {% if request.path == '/filter/' %} rounded bg-success text-light {% endif %}" href="/filter">Filter</a>
      </div>
    </div>
  </div>
</nav>

